@use './variables' as *;

html[data-theme='light'] {
  --some-var: value;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body.light {
  background-color: $light-theme-bg;
  transition: background-color 0.3s ease;
  --tool-item-bg: #e5e4e2;
}

body.dark {
  background-color: $dark-theme-bg;
  transition: background-color 0.3s ease;
  --curious-text-color: #f0f0f0;
  --detail-text-color: #f0f0f0;
  --tool-item-bg: #a9a9a9;
  --tool-description-col: black;
}
