/* light theme*/
$light-theme-bg: #fefefe;
$primary-color: #8e33ff;
$secondary-color: #954cf0;
$light-purple: #cbc3e3;

/* dark theme */
$dark-theme-bg: #1a1a1a;
$dark-theme-primary-color: #f0f0f0;
$dark-secondary-color: #004d61;
$dark-light-purple: #3e5641;

$toggle-btn-primary: #303030;
$toggle-btn-hover: #000;
